* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body1 {
    background-image: url(../img/fundoo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    height: 95vh;
}

.body2 {
    background-color: black;
    color: white;
}

.body3 {
    background-color: black;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.cabecalho>img {
    height: 40px;
}

.cabecalho2 {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(255, 255, 255);
    padding-bottom: 5px;
    padding-top: 10px;
}

.img2 {
    height: 250px;
    margin-left: 150px;
}

.div1 {
    border-radius: 25px;
    background-color: black;
    width: 460px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;

}

.p {
    color: white;
}

.h1 {
    text-align: center;
    font-size: 50px;
}

.titulo {
    text-align: center;
    padding-top: 25px;
    font-size: 25px;

}

.botao {
    border-radius: 15px;
    margin-left: 100px;
    width: 250px;
    height: 30px;
    border: 3px solid rgb(150, 53, 164);
}

.botao2 {
    margin-top: 40px;
    margin-left: 70px;
    width: 300px;
    border: 3px solid rgb(150, 53, 164);
    background-color: white;
    padding: 10px;
    text-decoration: none;
}

.botao2>img {
    width: 20px;
}

.botao3 {

    width: 150px;
    height: 30px;
    border: 3px solid rgb(150, 53, 164);
    background-color: white;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    margin-top: 45px;
    margin-left: 150px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
}

.senha {
    font-size: 12px;
    text-align: right;
    padding-right: 40px;
    color: white;
}

.botao-resumo {
    border-radius: 15px;
    margin-left: 100px;
    width: 250px;
    height: 70px;
    border: 3px solid rgb(150, 53, 164);
}

.menu {
    display: flex;
   
}

.menu>li {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu>li>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 1px 1px rgb(104, 102, 104);
    padding: 20px;
    font-weight: 600;
}

.menu>li:hover {
    background-color: rgb(147, 147, 147);
    text-shadow: 2px 5px rgb(255, 255, 255);
}

.menu2 {
    display: flex;
}

.menu2>li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu2>li>a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 1px 1px rgb(104, 102, 104);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}


.p2 {
    margin-left: 430px;
}

.p2-font {
    font-size: 25px;
}

.botao4 {
    background-color: rgb(150, 53, 164);
    width: 300px;
    height: 45px;
    border-radius: 15px;
    border: solid black;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    font-weight: bolder;
    color: white;
    margin-left: 120px;
    margin-top: 40px;
}

.divflex {
    display: flex;
}

.p3 {
    margin-left: 80px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 800;
    -webkit-text-stroke: 1px rgb(150, 53, 164);
}

.img3 {
    width: 110px;
    height: 38px;
    margin-left: 500px;
}

.hr {
    border: black;
    height: 5px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(150, 53, 164, 1) 50%, rgba(0, 0, 0, 1) 100%);

}

.card-imagem {
    margin-top: 60px;
    display: flex;
    margin-bottom: 20px;
}

.card-imagem>img {
    width: 40%;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.card-imagem>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-imagem>p {
    padding-left: 150px;
    font-size: 15px;
}

.card-imagem>h2 {
    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-stroke: 1px rgb(150, 53, 164);
}

.card-imagem2 {
    margin-top: 80px;
    display: flex;
    margin-bottom: 20px;
}

.card-imagem2>img {
    width: 20%;
    height: 400px;
    margin-bottom: 20px;
}

.card-imagem2>div {
    width: 50%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-imagem2>h2 {
    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-stroke: 1px rgb(150, 53, 164);
}

.card-imagem3 {
    margin-top: 80px;
    display: flex;
    margin-bottom: 20px;
}

.card-imagem3>img {
    width: 35%;
    height: 400px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.card-imagem3>div {
    width: 50%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-imagem3>h2 {
    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-stroke: 1px rgb(150, 53, 164);
}

.div2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.div2>img {
    height: 250px;
    margin: 10px;
}
.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.banner > video {
    top: 10;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.banner .content {
    position: absolute;
    z-index: 1;
    max-width: 1000px;
    margin-left: 20px;
    text-align: left;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #ffff;
}

.banner .content p {
    font-size: 1.5em;
    color: #ffff;
}

.h1_titulo{
    margin-left: 10px;
    align-items: center;
}

.img4{
    width: 193px;
    height: 52px;
}
.img5{
    width: 25px;
    height: 25px;
}
.font{
    font-family: 'Delicious Handrawn', cursive;
}
.font2{
    font-family: 'Kanit', sans-serif;
    margin-left: 10px;

}
.div3{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.botao5{
    background-color: rgba(255, 255, 255, 0.9);
    height: 50px;
    width: 100px;
    position:absolute;
    left: 80px;
    bottom: 30px;
    border-radius: 5px;
}
.botao6{
    background-color: rgba(255, 255, 255, 0.6);
    height: 50px;
    width: 150px;
    position:absolute;
    left: 200px;
    bottom: 30px;
    border-radius: 5px;
}

.div4{
    background-color: black;
    box-shadow: -5px 2px 15px black;
    
    
}
.p4{
    margin-left: 80px;
    
    font-size: 40px;
    font-weight: 800;
    -webkit-text-stroke: 1px rgb(150, 53, 164);
    color: white;
}

.opcao{
    display: flex;
    overflow: scroll;
}
.opcao::-webkit-scrollbar{
    display: none;
}
.filme{
    margin-top: 50px;
    margin-left: 30px;
    width: 280px;
    height: 150px;
}
.filme:hover{
  
}
.titulo-perfil{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}
li {
    list-style-type: none;
}
.livro{
    margin-top: 50px;
    margin-left: 30px;
    width: 160px;
    height: 256px;
}
.livro:hover{
    opacity: 0.3;
}
.vis-a-vis:hover{
    content: url(../img/gif.visavis.gif);
}
.peaky:hover{
    content: url(../img/gif.peaky.gif);
}
.lcdp:hover{
    content: url(../img/git-lcdp.gif);
}

